Cordova requirements
====================

Path: platforms/android
Package: molpay.mobile.xdk.example
Name: MOLPayExample
Activity: MainActivity
Android target: android-23
Android project created with cordova-android@5.1.1

iOS project created with cordova-ios@4.0.1


Recommended Host Content-Security-Policy
----------------------------------------
<meta http-equiv="Content-Security-Policy" content="default-src * data: gap:; style-src 'self' 'unsafe-inline'; media-src *">


Test Data (example > www > index.js)
------------------------------------
// MOLPay payment details
        var paymentDetails = {
            // ------- SDK required data ----------
            'mp_amount' : '1.10',
            'mp_username' : 'molpayapi',
            'mp_password' : '*M0Lp4y4p1!*',
            'mp_merchant_ID' : 'molpaymerchant',
            'mp_app_name' : 'wilwe_makan2',   
            'mp_order_ID' : 'XP014', 
            'mp_currency' : 'MYR',
            'mp_country' : 'MY',  
            'mp_verification_key' : '501c4f508cf1c3f486f4f5c820591f41',  
            'mp_channel' : 'multi', 
            'mp_bill_description' : 'Cordova payment test',
            'mp_bill_name' : 'MOLPay Developer',
            'mp_bill_email' : 'clement@molpay.com',
            'mp_bill_mobile' : '123456',
            'mp_channel_editing' : false,
            'mp_editing_enabled' : false,
            'mp_transaction_id' : '6813063', // Required if mp_request_type is 'Receipt'
            'mp_request_type' : '' // 'Receipt' for Cash channels
        };