<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="rms-mobile-cordova-privacyscreen"
        version="1.0.0">

    <name>Razer Merchant Services privacy screen to prevent screenshots</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/RMSPrivacyScreen.js" target="js/RMSPrivacyScreen.js"/>

    <js-module src="www/RMSPrivacyScreen.js" name="RMSPrivacyScreen">
        <clobbers target="RMSPrivacyScreen" />
    </js-module>

    <platform name="android">
        <preference name="ENABLE_PRIVACYSCREEN_BELOW_LOLLIPOP" default="true" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RMSPrivacyScreen">
                <param name="android-package" value="rms.mobile.cordova.privacyscreen.RMSPrivacyScreen"/>
                <param name="onload" value="$ENABLE_PRIVACYSCREEN_BELOW_LOLLIPOP" />
            </feature>
        </config-file>
        <source-file src="src/android/RMSPrivacyScreen.java" target-dir="src/rms/mobile/cordova"/>
    </platform>
</plugin>
