<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="molpay-mobile-xdk-cordova"
    version="1.0.0">
    <name>MOLPay XDK for Cordova</name>
    <description>MOLPay official in-app payment module for Cordova</description>
    <author>MOLPay Mobile Division</author>
    <keywords>MOLPay,payment,gateway</keywords>
    <engines>
        <engine name="cordova" version=">=6.0.0"/>
        <engine name="cordova-android" version=">=5.0.0"/>
        <engine name="cordova-ios" version=">=4.0.0"/>
    </engines>
    <asset src="molpay-mobile-xdk-www" target="molpay-mobile-xdk-www" />
    <js-module src="molpay.js" name="MOLPay">
        <clobbers target="molpay" />
        <merges target="molpay" />
    </js-module>
    <dependency id="cordova-plugin-inappbrowser" />
    <platform name="android">
        <uses-permission android:name="$PACKAGE_NAME.permission.INTERNET"/>
        <uses-permission android:name="android.permission.INTERNET" /> 
    </platform>
</plugin>
